body, main {
  display: flex;
  color: gray;
  width: 901px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header {
  height: 70px;
  width: 901px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-logo {
  font-family: 'Yellowtail', cursive;
  font-size: 43px;
  height: 70px;
  width: 250px;
  display: flex;
  flex-flow: column wrap;
}

#logo-img {
  width: 42px;
  height: 45px;
  margin-top: 12px;
}

#title {
  color: black;
  margin: 0;
  height: 32px;
}

#header-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  margin: 0px;
  margin-top: 14px;
  margin-left: 5px;
  text-align: left;
}

.header-icons {
  width: 686px;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-icons img {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

#rss-icon {
  margin-left: 10px;
}

.breaker {
  width: 901px;
  height: 12px;
  background-color: lightgray;
}

.article {
  display: flex;
  flex-direction: column;
}

#article-title {
  width: 901px;
  display: flex;
  margin-bottom: 25px;
}

#article-title2 {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#art-title {
  color: black;
  font-family: 'Share', cursive;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
}

#article-subtitle {
  font-family: 'Lato', sans-serif;
  width: 400px;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#print-box {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  width: 451px;
  height: 103px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#print-icon {
  width: 13px;
  height: 10px;
}

#article-text {
  width: 901px;
  font-size: 19px;
  text-align: left;
}
